header {
  font-family: monospace;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  user-select: none;
  background: beige;
  font-size: 2rem;
}

header a {
  color: #ffffff; /* Reemplaza con el valor correcto de $texto-blanco */
  text-decoration: none;
  background-color: #da4443;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 15px;
  font-size: x-large;
}

#tituloContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: transparent;
  width: 150px;
  border-radius: 15px;
  height: 40px;
  color: #da4443;
  border: solid 3px #da4443;
}

footer {
  background-color: #619cde;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff; 
}


#fire:hover {
  background-image: linear-gradient(to bottom, yellow, red);
  color: orangered;
  color: ghostwhite;
}
#water:hover {
  background-image: linear-gradient(to bottom, #6495ED, #4169E1);
  color: orangered;
  color: ghostwhite;
}
#grass:hover {
  background-image: linear-gradient(to bottom, #32CD32, #228B22, #008000);
  color: orangered;
  color: ghostwhite;
}
#electricity:hover {
  background-image: linear-gradient(to bottom, #0D1B2A,#FFA500);
}


footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a{
  width: 20%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #da4443;
}