<div class="container">
    <form>
        <h3>Join the comunity!</h3>
        <div class="input-field">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
        </div>
        <div class="input-field" id="age">
            <label for="age">Age</label>
            <input type="date" placeholder="Enter your date of birth">
        </div>
        <div class="input-field">
            <label for="category">Category:</label>
            <section>
                    <select>
                        <option value="" disabled selected>Select your rol</option>
                        <option value="hola">Entrenadores Pokémon</option>
                        <option value="hola">Maestros Pokémon</option>
                        <option value="hola">Líderes de Gimnasio</option>
                        <option value="hola">Alto Mando</option>
                        <option value="hola">Campeón de la Liga Pokémon</option>
                        <option value="hola">Coordinadores Pokémon</option>
                        <option value="hola">Investigadores Pokémon</option>
                        <option value="hola">Especialistas Pokémon</option>
                    </select>
            </section>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="Enter your password">
        </div>
        <div class="input-field" id="button">
            <button>REGISTER</button>
        </div>
        
    </form>
</div>
