#container {
  display: grid;
  grid-template-columns: 1fr 60px;
}

#datos {
  height: 500px;
  width: 90vw;
  background-color: #bfd678;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}

#datos .area:first-child {
  flex-grow: 1;
  background-color: lightblue;
  background-size: 20px 20px;
}

#datos .area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 60%;
  padding-right: 20px;
  background-color: aliceblue;
  font-size: larger;
}

#datos .area p {
  margin: 10px 10px;
}

#datos .area:last-child {
  background: lightblue;
}

#descripcionContainer {
  background-color: #ffffff;
  border-radius: 10px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#descripcionContainer p {
  width: 80%;
}



.etiqueta {
  display: inline-block;
  background-color: #da4443;
  border-radius: 5px;
  color: #ffffff; /* Reemplaza con el valor correcto de $texto-blanco */
  padding: 5px 20px;
  font-size: x-large;
  width: 100px;
  text-align: center;
  margin-right: 20px;
}

.tipo {
  background-color: grey;
  border-radius: 5px;
  color: #ffffff; /* Reemplaza con el valor correcto de $texto-blanco */
  padding: 5px 15px;
  margin-left: 5px;
  font-size: x-large;
}

button {
  background-color: #da4443;
  border-radius: 0 25px 25px 0;
  border: none;
  cursor: pointer;
}

button img {
  height: 50px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

button img.girar {
  rotate: 180deg;
}

button img:hover {
  scale: 1.1;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.378);
  z-index: -1;
  opacity: 1;
  transition: 0.5s;
}

#backdrop.escondido {
  pointer-events: none;
  opacity: 0;
}
