<div id="backdrop"  [ngClass]="{escondido: !abierto}" (click)="clicked.emit()"></div>
<div id="container">
  <div id="datos">

    <div class="area">
      <app-tarjeta-pokemon
      [fullData]="pokemon"
      [seleccionado]="true"
      >
    </app-tarjeta-pokemon>
  </div>
  <div class="area">
    <p><span class="etiqueta">Tipo</span> <span class="tipo" *ngFor="let tipo of pokemon?.types">{{tipo.type.name}}</span></p>
    <p><span class="etiqueta">Altura</span> <span class="tipo" >{{pokemon?.height}}</span></p>
    <p><span class="etiqueta">Peso</span> <span class="tipo" >{{pokemon?.weight}}</span></p>
  </div>
  <div class="area">
    <div id="descripcionContainer">
      <p>{{descripcion}}</p>
    </div>
  </div>
  </div>
  <button (click)="clicked.emit()">
    <img src="./../../../assets/img/flecha.png" alt="" [ngClass]="{girar: abierto}">
  </button>
</div>
