<header>
  <div id="tituloContainer">
    <a routerLink="/dashboard"><h1>Pokedex</h1></a>
  </div>
  <a routerLink="/fire" id="fire">Fire</a>
  <a routerLink="/water" id="water">Water</a>
  <a routerLink="/grass" id="grass">Grass</a>
  <a routerLink="/electric" id="electricity">Electric</a>
  <a routerLink="" id="exit">Log out</a>
</header>
<main id="container">
    <app-detalle
    [pokemon]="pokemonSeleccionado"
    (clicked)="cambiarEstadoDetalle()"
    [abierto]="detalle"
    [ngClass]="{abierto: detalle}"
    ></app-detalle>
    <app-foto-pokemon
    [pokemon]="pokemonSeleccionado"
    [ngClass]="{abierto: detalle}"
    ></app-foto-pokemon>
    <div id="tarjetasContainer">
      <app-tarjeta-pokemon *ngFor="let pokemon of fireList"
      [data]="pokemon"
      [seleccionado]="pokemon.name === pokemonSeleccionado?.name"
      (clickeado)="tarjetaClickeada($event)"
      >
    </app-tarjeta-pokemon>
    <img src="./../../../assets/img/spinner.svg" alt="Cargando" id="spinner">
    </div>
  </main>
  <footer>
    <a href="https://youtu.be/7O3tgK9eLSE">VIDEO BASE</a>
  </footer>
  