<div class="conatiner-main">
    <div class="container">
        <aside>
            <div class="logo">
                <img src="../../assets/img/logo.png" alt="">
            </div>
            <div class="menu-options">
                <a href="#">All Pokémons</a>
                <a href="#">Water Pokémon</a>
                <a href="#">Fire Pokémon</a>
                <a href="#">Grass Pokémon</a>
                <a href="#">Electric Pokémon</a>
                <a class="logout" href="#">Log out</a>
            </div>
        </aside>
        <div class="content">
            <app-all-pokemons></app-all-pokemons>
        </div>
    </div>
</div>