#container {
  margin-left: 100px;
  border: 15px solid #8cbbf1;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 15px;
  background: white;
}

#container img {
  width: 100%;
  image-rendering: pixelated;
}
