<div class="container">
    <aside class="menu">
        <div class="logo">
            <img src="../../assets/logo.png" alt="">
        </div>
        <div class="menu-buttons">
            <button>Dahsboard</button>
            <button>Option 1</button>
            <button>Option 2</button>
            <button>Option 3</button>
            <button>Option 4</button>
            <button>Log out</button>
        </div>
    </aside>
    <div class="container-body">
        <header>
            <h4>CallCenter</h4>
            <div class="icon">email</div>
            <div class="icon">noti</div>
            <div class="icon">perfil</div>
        </header>
        <div class="welcome-message">
            <div class="message">
                <h1>Hi, Administrator</h1>
                <p>Ready to start your day with full energy? You Rock</p>
            </div>
            <div class="img-message">
                <img src="../../assets/dashboard-1.png" alt="">
            </div>
        </div>
        <div class="cards-features">
            <div class="card-feature">
                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#ffb300;}.cls-2{fill:#0074ff;}</style></defs><path class="cls-1" d="M28.46,42.29A2,2,0,0,1,27,41.71l-9.5-9.5a2,2,0,0,1,2.83-2.83l8.09,8.09L43.63,22.29a2,2,0,1,1,2.83,2.83L29.87,41.71A2,2,0,0,1,28.46,42.29Z"/><path class="cls-2" d="M32,60A28,28,0,1,1,60,30.47a2,2,0,0,1-1.88,2.11A2,2,0,0,1,56,30.69,24,24,0,1,0,39.64,54.75,23.86,23.86,0,0,0,53.58,42.51a2,2,0,1,1,3.59,1.75A27.78,27.78,0,0,1,40.91,58.55,28.14,28.14,0,0,1,32,60Z"/></svg>
                <h6>86%</h6>
                <p>Lorem, ipsum</p>
            </div>

            <div class="card-feature">
                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#0074ff;}.cls-2{fill:#ffb300;}</style></defs><path class="cls-1" d="M8.21,55.2a2,2,0,0,1-2-2V14.8a2,2,0,0,1,2-2H39.33a2,2,0,0,1,0,4H10.21V50.37l8.67-3.06a2.12,2.12,0,0,1,.66-.11H53.79V16.8H49.62a2,2,0,0,1,0-4h6.17a2,2,0,0,1,2,2V49.2a2,2,0,0,1-2,2H19.89l-11,3.88A1.93,1.93,0,0,1,8.21,55.2Z"/><path class="cls-2" d="M45.9,28.94H18.1a2,2,0,0,1,0-4H45.9a2,2,0,0,1,0,4Z"/><path class="cls-2" d="M39.42,39.06H33.87a2,2,0,1,1,0-4h5.55a2,2,0,0,1,0,4Z"/><path class="cls-2" d="M26.23,39.06H18.1a2,2,0,0,1,0-4h8.13a2,2,0,1,1,0,4Z"/></svg>
                <h6>77%</h6>
                <p>Lorem, ipsum</p>
            </div>
            
            <div class="card-feature">
                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#ffb300;}.cls-2{fill:#0074ff;}</style></defs><path class="cls-1" d="M28.46,42.29A2,2,0,0,1,27,41.71l-9.5-9.5a2,2,0,0,1,2.83-2.83l8.09,8.09L43.63,22.29a2,2,0,1,1,2.83,2.83L29.87,41.71A2,2,0,0,1,28.46,42.29Z"/><path class="cls-2" d="M32,60A28,28,0,1,1,60,30.47a2,2,0,0,1-1.88,2.11A2,2,0,0,1,56,30.69,24,24,0,1,0,39.64,54.75,23.86,23.86,0,0,0,53.58,42.51a2,2,0,1,1,3.59,1.75A27.78,27.78,0,0,1,40.91,58.55,28.14,28.14,0,0,1,32,60Z"/></svg>
                <h6>91</h6>
                <p>Lorem, ipsum</p>
            </div>

            <div class="card-feature">
                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#0074ff;}.cls-2{fill:#ffb300;}</style></defs><path class="cls-1" d="M8.21,55.2a2,2,0,0,1-2-2V14.8a2,2,0,0,1,2-2H39.33a2,2,0,0,1,0,4H10.21V50.37l8.67-3.06a2.12,2.12,0,0,1,.66-.11H53.79V16.8H49.62a2,2,0,0,1,0-4h6.17a2,2,0,0,1,2,2V49.2a2,2,0,0,1-2,2H19.89l-11,3.88A1.93,1.93,0,0,1,8.21,55.2Z"/><path class="cls-2" d="M45.9,28.94H18.1a2,2,0,0,1,0-4H45.9a2,2,0,0,1,0,4Z"/><path class="cls-2" d="M39.42,39.06H33.87a2,2,0,1,1,0-4h5.55a2,2,0,0,1,0,4Z"/><path class="cls-2" d="M26.23,39.06H18.1a2,2,0,0,1,0-4h8.13a2,2,0,1,1,0,4Z"/></svg>
                <h6>+100</h6>
                <p>Lorem, ipsum</p>
            </div>
        </div>
        <div class="cards">
            <div class="card-item">
                <div class="img-card-item">
                    <img src="../../assets/character.png" alt="">
                    <div class="content-card-item">
                        <h6>Something to day</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto harum consectetur veniam ex placeat.</p>
                        <p>10 items</p>
                    </div>
                    <button>Click</button>
                </div>
            </div>
        </div>
    </div>
</div>