<div class="container">
    <form>
        <h3>Welcome back!</h3>
        <div class="input-field">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter your username" id="username">
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password">
        </div>
        <div class="forgot-password">
            <a (click)="openForgotPasswordModal()">Forgot your password</a>
        </div>
        <div class="input-field" id="button">
            <button>LOGIN</button>
        </div>
    </form>
</div>
