<div class="container">
    <form [formGroup]="loginForm" (submit)="login()">
        <h3>Welcome back!</h3>
        <div class="input-field">
            <label for="username" >Username</label>
            <input type="text" formControlName="username" placeholder="Enter your username" id="username">
            <div *ngIf="loginForm.get('username')?.hasError('required')" class="error-message">
                Username is required
            </div>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Enter your password" id="password">
            <div *ngIf="loginForm.get('password')?.hasError('required')" class="error-message">
                Password is required
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('minlength')" class="error-message">
                Password must be at least 8 characters long
            </div>
        </div>
        <div class="forgot-password">
            <a (click)="openForgotPasswordModal()">Forgot your password</a>
        </div>
        <div [ngClass]="{ 'invalid-btn': loginForm.invalid, 'btnLogin': !loginForm.invalid }" >
            <button [disabled]="loginForm.invalid" >LOGIN</button>
        </div>
    </form>
</div>
